{% load static %}

<link rel="stylesheet" href="{% static 'css/styles.css' %}">

<nav class="navbar">
    <div class="nav-container">
        <ul class="centered-menu">
            <li><a href="{% url 'home' %}">Главная</a></li>
            <!--<li><a href="{% url 'weather_forecast' %}">Прогноз погоды</a></li>-->
            <li><a href="{% url 'weather_map' %}">Карта погоды</a></li>
            <li><a href="{% url 'about' %}">О нас</a></li>
        </ul>
    </div>
</nav>

<link rel="stylesheet" href="{% static 'css/main/menu.css' %}">